body{
    margin: auto;
    background-color: blue;
}

#toolbar{
    width: 100%;
    cursor: pointer;
    height: 100px;
    border-bottom: 2px solid black;
    display: inline-block;
    margin-bottom: 20px;
    padding: 15px;
}

/* #rectangle{
    background: url(icons/square-and-circle.png) no-repeat left center;
    width: 40px;
    height: 40px;
    border: 0;
    background-size: 95%;
} */

#canvas{
    border:1px solid #000000;
    cursor: crosshair;
    margin: auto;
    display: block;
}

#text{
    display: inline;
}

select.form-control{
    width: 140px;
    display: inline;
}

input, select{
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    height: 34px;
}
#colors {
    padding-top: 10px;
}
#colors > input{
    height: 25px;
    width: 25px;
}