body{
    margin: auto;
    background-color: rgb(255, 0, 225);
}

*{
    margin-top: 5px;
}

#toolbar{
    width: 100%;
    cursor: pointer;
    height: 100px;
    border-bottom: 2px solid black;
    display: inline-block;
    margin-bottom: 20px;
    padding: 4px;
}

button.btn {
    padding: 1px 4px;
    font-size: 16px;
    background-color:  #c2c2d6;
    border: 2px solid;
    border-color: #47476b;
}

.tool:hover, .shape:hover{
    background-color: #a3a3c2;
    
}
<<<<<<< HEAD
#canvas-container{
    width: 800px;
    height: 500px;
}
=======

>>>>>>> 94b9bd995bb8be5ce173d14b4b5606643a6929e8
#canvas{
    border:1px solid #000000;
    cursor: crosshair;
    margin: auto;
    display: block;
}

#text{
    display: inline;
}

select.form-control{
    width: 140px;
    display: inline;
}

#fillColor, #strokeColor {
    width: 20px;
    height: 20px;
    border-radius: 0px;
}

#color-div{
    display: inline-block;
}

select{
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    height: 34px;
}
#textValue{
    position: absolute;
}

#colors {
    padding-top: 10px;
}

#colors > input{
    height: 25px;
    width: 25px;
}
